# Generic gitignore for Flutter + NodeJS project

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# Flutter / Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
build/

# Android
.gradle/
local.properties
*.apk
*.ap_
*.dex
*.class
**/build/

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
